<!DOCTYPE HTML>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>OpenSpot</title>
	<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="/assets/app.css">

	<script type="text/javascript">// <![CDATA[
		function preloader() {
			document.getElementById("content").style.display = "none";
			document.getElementById("loading").style.display = "block";
		}//preloader
		window.onload = preloader;
  // ]]>
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<a class="navbar-brand" href="/">OpenSpot</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
				<li class="nav-item">
					<a class="btn btn-outline-dark" href="/onboard">Sign Up</a>
				</li>
				<li class="nav-item">
					<a class="btn btn-outline-dark" href="/admin">Login</a>
				</li>

			</ul>
		</div>
	</nav>
	<header class="masthead">
		<div class="container h-100">
			<div class="row h-100 align-items-center">
				<div class="col-12 text-center animated zoomIn">
					<h1 class="font-weight-light">Welcome!</h1>
					<hr>
					<p class="lead">OpenSpot is an app that allows customers to make reservations for businesses.</p>
					<br>
					<p class="lead">
						During the COVID-19 pandemic, a lot of businesses want to open up, but they don't want to have
						too many people
						at a time, and don't want any queues. This app is aimed at solving this problem as business
						owners can set the
						maximum amount of people they want in their store and the amount of time per person.
						<br>
						<br>
						As a result, customers can simply book some time online and show up without having to queue!
					</p>
                                        <p> OpenSpot is Free and Open Source Software. For support inquiries, contact: <a href="mailto:open.spot2020@gmail.com">open.spot2020@gmail.com</a><p>
                                        <p> OpenSpot data is stored on Google Cloud. OpenSpot source code is available at <a href="https://github.com/govi218/OpenSpot" target="_blank">Github</a>.</p>
					<br>
					<a class="btn btn-primary" href="/onboard">Get Started!</a>
				</div>
			</div>
		</div>
	</header>

	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
</body>

</html>
