<!DOCTYPE HTML>
<html>

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Up To Ten</title>
	<link href='http://fonts.googleapis.com/css?family=Bitter' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
		integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<link rel="stylesheet" href="/assests/app.css">

	<script type="text/javascript">// <![CDATA[
		function preloader() {
			document.getElementById("content").style.display = "none";
			document.getElementById("loading").style.display = "block";
		}//preloader
		window.onload = preloader;
  // ]]>
	</script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
</head>

<body>
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-4">Get OpenSpot for your business!</h1>
			<p class="lead">Fill in the information below to onboard your business.</p>
		</div>
	</div>
	<div class="container">
		<form id="onboard-form" name="onboard-form" onsubmit="return validateForm()"
			action="{{ url_for('handle_onboard') }}" method="post">
			<div class="form-group center-name">
				<label for="">Business Name</label>
				<input name="businessName" type="text" class="form-control" id="">
			</div>
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="">Email</label>
					<input name="email" class="form-control" type="email">
				</div>
				<div class="form-group col-md-4">
					<label for="">Password</label>
					<input type="password" class="form-control" name="password" id="">
				</div>
				<div class="form-group col-md-4">
					<label for="">Phone Number</label>
					<input name="number" type="text" class="form-control" id="">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-4">
					<label>Amount of Time Per Person (in minutes)</label>
					<input class="form-control" type="number" name="time_per_person" />
				</div>
				<div class="form-group col-md-4">
					<label>Max number of people at a given time</label>
					<input class="form-control" type="number" name="max_people" />
				</div>
				<div class="form-group col-md-4">
					<label>Number of Employees Working</label>
					<input class="form-control" type="number" name="num_employees" />
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label>Opening Time</label>
					<input class="form-control" type="time" name="openTime" />
				</div>
				<div class="form-group col-md-6">
					<label>Closing Time</label>
					<input class="form-control" type="time" name="closeTime" />
				</div>
			</div>
			<div class="form-group">
				<div class="form-check">
					<input name="field7" class="form-check-input" type="checkbox" id="gridCheck">
					<label class="form-check-label" for="gridCheck">
						You agree to our Terms and Policy
					</label>
				</div>
			</div>
			<div class="form-row">
				<button type="submit" class="btn btn-primary">Submit</button>
			</div>
		</form>
	</div>

	<script>
		function validateForm() {
			console.log('??')
			var businessName = document.forms["onboard-form"]["businessName"].value;
			console.log(businessName)
			if (businessName === "") {
				alert("Business Name must be filled out");
				return false;
			}
			var password = document.forms["onboard-form"]["fname"].value;
			if (password === "") {
				alert("Password must be filled out");
				return false;
			}
			var email = document.forms["onboard-form"]["email"].value;
			if (email === "") {
				alert("Email must be filled out");
				return false;
			}
			var number = document.forms["onboard-form"]["number"].value;
			if (number === "") {
				alert("Number must be filled out");
				return false;
			}
			var time_per_person = document.forms["onboard-form"]["time_per_person"].value;
			if (time_per_person === "") {
				alert("Time Per Person must be filled out");
				return false;
			}
			var max_people = document.forms["onboard-form"]["max_people"].value;
			if (max_people === "") {
				alert("Max People must be filled out");
				return false;
			}
			var num_employees = document.forms["onboard-form"]["num_employees"].value;
			if (num_employees === "") {
				alert("Number of Employees must be filled out");
				return false;
			}
			var openTime = document.forms["onboard-form"]["openTime"].value;
			if (openTime === "") {
				alert("Opening time must be filled out");
				return false;
			}
			var closeTime = document.forms["onboard-form"]["closeTime"].value;
			if (closeTime === "") {
				alert("Closing time must be filled out");
				return false;
			}
		}
	</script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
		integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
		crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
		integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
		crossorigin="anonymous"></script>
</body>

</html>